<div class='main'>
  <div class="column-1 box fade-in-left">
    <h1>👋</h1>
    <h1>Soy Santi Ruffino</h1>
    <h2>Fullstack Developer</h2>
    <h2>Googleador furioso de CSS</h2>
    <div class='buttons'>
      <div  *ngFor='let social of socialsNetworks'>
        <a href='{{ social.link }}'>
          <button mat-raised-button color='primary' class='button'>
            <mat-icon style='padding-right: 5px'>
              <img src="./assets/{{ social.logo }}" alt='{{ social.alt }}'>
            </mat-icon>
            {{ social.name }}
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="column-2 box fade-in-right">
    <img class='dibujo' src='./assets/only-santi.png' alt='Ilustración de Santi hecha por @luailustrada'>
  </div>
</div>
