<div class='main'>
  <div class="column-1 box fade-in-left">
    <h1>👋</h1>
    <h1>Soy Santi Ruffino</h1>
    <p>Fullstack Developer. Googleador furioso de CSS</p>
    <div class='buttons'>
      <a mat-raised-button href="https://twitter.com/santiruffinodev" target="_blank">Twitter</a>
      <a mat-raised-button href="https://github.com/santiruffino" target="_blank">Github</a>
    </div>
  </div>
  <div class="column-2 box fade-in-right">
    <img src='./assets/only-santi.png' class='dibujo'>
  </div>
</div>
