.full {
  min-height: 100%;
  background: black;
}

.main {
  display: flex;
  margin: auto;
  background: black;
}

.card-container {
  padding: 16px;
}

.title {
  color: black;
}

.example-card {
  background: #d9d9d9;
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
