<div class='full'>
  <div class="main" fxFlex="70%" fxFlex.xs="90%" fxLayout="row wrap">
    <div *ngFor="let post of posts$ | async" class='card-container' fxFlex='33%' fxFlex.xs="100%">
<!--    <div *ngFor="let num of [1,2,3,4,5,6,7]" class='card-container' fxFlex='33%' fxFlex.xs="100%">-->
      <mat-card class='example-card mat-elevation-z5'>
        <mat-card-header>
          <mat-card-title class='title'>
            {{ post.title }}
<!--            HOLA MUNDO-->
          </mat-card-title>
          <mat-card-subtitle>
            {{ nowDate | date: 'MMM d, y' }}
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/shiba2(1).jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
<!--          <p> {{ post.description }}</p>-->
<!--          <p>Hola! Soy una descripción</p>-->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
