h1 {
  text-align: center;
  color: cyan;
  background-color: rgb(248, 211, 236);
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

p {
  font-size: 18px;
  text-align: justify;
}

.full {
  height: 100%;
  width: 100%;
}

.content {
  background: whitesmoke;
  width: 70%;
  margin: auto;
}
