h1 {
  color:rgb(51, 6, 37);
  background-color: rgb(248, 211, 236);
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

.full {
  height: 100%;
  width: 100%;
}

.content {
  background: #E9D2FF;
  width: 70%;
  margin: auto;
}
