.full {
  height: 100%;
  width: 100%;
  background: whitesmoke;
}

.content {
  background-color:rgb(240,240,240);
  margin: auto;
}

h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: #3E6CF7;
  padding: 15px;
  border-radius: 5px;
  width: fit-content;
  font-family: 'Itim';
  font-size: 40px;
}

p {
  font-size: 18px;
  text-align: justify;
  margin: 0 12px 12px 12px;
}

img {
  height: auto;
  width: 100%;
  max-width: 720px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  font-size: 12px;
  font-style: oblique;
}
